YG5YAO_1011/YG5YAO_kurzusfelvetel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="tanevTipus">
    <xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="egyetemTipus">
    </xs:simpleType>
    <xs:simpleType name="idTipus">
    </xs:simpleType>
    <xs:simpleType name="igenNemTipus">
    </xs:simpleType>
</xs:schema>